<div id="fb-root"></div>
<script type="text/javascript">
    window.fbAsyncInit = function () {
        FB.init({ appId: '377925422245400',
            status: true,
            cookie: true,
            xfbml: true
        });

        //Autoresize iFrame               
        FB.Canvas.setAutoResize();
    };
(function () {
    var e = document.createElement('script'); e.async = true;
    e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js#xfbml=1';
    document.getElementById('fb-root').appendChild(e);
} ());
</script>

<div id="wrapp">
  <div class="popular">
    <h4 class="i_publication">Equine Canada</h4>
  </div>
  <p>Equine Canada is Canada’s national governing body for equestrianism.  A member-driven, charitable institution, it is the executive branch of the Canadian Equestrian Team, and the national authority for equestrian competition; the national voice for recreational riders; and the national association for equine welfare, breeding, and industry.  Equine Canada is recognized by the Government of Canada, the International Equestrian Federation (FEI), and the Canadian Olympic Committee as the national organization representing equestrian sport and equine interests. For more information about Equine Canada, please <a href="http:www.equinecanada.ca." target="_blank" >click here</a>.</p>
  <div class="about"> <img src="/assets/BreedSport.gif" />
    <h4>Breed Sport </h4>
    <p>Need text <a href="http://equinecanada.ca/index.php?option=com_content&view=category&id=355&Itemid=447&lang=en" target="_blank">click here</a>.</p>
  </div>
  <div class="about"> <img src="/assets/NeedLogo.gif" />
    <h4>Coaching</h4>
    <p>Equine Canada’s coaching program is developed in partnership with the National Coaching Certification Program (NCCP), the Coaching Association of Canada (CAC) and Sport Canada. Equine Canada is one of 67 sports participating in the NCCP, which represents coaching excellence in Canada. </p>
    <p>The Equine Canada / NCCP provides coaches and instructors with the tools necessary to make the equestrian experience safe and enjoyable for all equine and human participants, and to develop excellence in horsemanship. Developing equestrian athletes is a secondary result of good coaching and instruction over time. For more information about Equine Canada’s coaching program, please <a href="http://equinecanada.ca/index.php?option=com_content&view=section&id=126&Itemid=549&lang=en" target="_blank">click here.</a> </p>
  </div>
  <div class="about"> <img src="/assets/NeedLogo.gif" />
    <h4>Dressage</h4>
    <p>Dressage Canada, as a committee of Equine Canada, is the National governing body for Dressage in Canada. Dressage Canada's objective is to foster the growth of Dressage and the pursuit of excellence in the sport at the local, national and international levels. Dressage Canada provides support and guidance to both amateur and professional through the following programs: coaching education and programs, officials’ education and programs, rules & qualifying criteria, sport development, publications & awards. For more information about Dressage Canada, please <a href="http://equinecanada.ca/dressage/index.php?lang=en" target="_blank">click here</a>.</p>
  </div>
    <div class="about"> <img src="/assets/DriveCanada.gif" />
    <h4>Drive</h4>
    <p>Drive Canada is a committee of Equine Canada, and the national governing body for driving in Canada. Drive Canada's objective is the development of athletes, both human and equestrian, for recreation and competitive sport. Drive Canada develops and manages national programs for coaches, licensed officials and rules based on safety, welfare of the horse and fairness in competition. For more information on driving, please <a href="http://equinecanada.ca/index.php?option=com_content&view=category&id=357&Itemid=449&lang=en" target="_blank">click here</a></p>
  </div>
  <div class="about"> <img src="/assets/EnduranceCanad.gif" />
    <h4>Endurance</h4>
    <p>Endurance Canada is a committee of Equine Canada, and the national governing body of the sport of endurance riding in Canada, from the grassroots to the international level. Endurance Canada is responsible for the growth and pursuit of excellence at all levels of the sport, providing support and guidance through various programs and committees: veterinary; rules and sanctioning; athlete and sport development; education and coaching; communication and awards. For more information, please <a href="http://equinecanada.ca/endurance/index.php?lang=en" target="_blank">click here</a>.</p>
  </div>
  <div class="about"> <img src="/assets/Eventing.gif" />
    <h4>Eventing</h4>
    <p> Canadian Eventing is a committee of Equine Canada responsible for the sport of eventing in Canada from the domestic to the international level. The Canadian Eventing Committee is comprised of 12 members, including two rider representatives elected by the Elite Riders Association. Directed by the strategic plan for eventing, all eventing activities are administered by this committee via six technical sub-committees with the support of eventing department staff based at the Equine Canada office in Ottawa. The national team athletes and program, led by International Technical Advisor David O’Connor, are monitored by the High Performance Committee. For more information about Canadian Eventing, please <a href="http://www.equinecanada.ca/eventing" target="_blank">click here</a>.</p>
  </div>
  <div class="about"> <img src="/assets/NeedLogo.gif" />
    <h4>Equine Health and Welfare</h4>
    <p>Equine Canada is recognized by the Government of Canada, including Agriculture and Agri-Food Canada, the Canadian Food Inspection Agency (CFIA), Industry Canada, and Sport Canada, as the national body overseeing interests related to horses, ponies, donkeys and mules, and owners, riders and drivers across Canada.   Our national Health and Welfare Committee  works with the  CFIA, the Canadian Veterinary Medical Association (CVMA), universities and colleges, provincial and international equestrian federations, breed associations, and international regulatory agencies to provide expertise, feedback and guidance on issues of equine health and welfare. We regularly communicate on herd health and welfare issues through our nationally distributed Health Alerts, national bi-monthly magazine, electronic newsletters, website Twitter and Facebook. For more information, please <a href="http://equinecanada.ca/industry/index.php?option=com_content&Itemid=556&id=232&lang=en&layout=default&view=category" target="_blank">click here</a>.</p>
  </div>
  <div class="about"> <img src="/assets/JumpCanada.gif" />
    <h4>Hunter/Jumper </h4>
    <p> ump Canada is the committee of Equine Canada responsible for all hunter, equitation and jumper activities in Canada from the grass roots to the international level.  Jump Canada is governed by a board, the majority of whose members are elected by the stakeholders in the sport. For more information regarding Jump Canada programs and activities, please <a href="http://www.equinecanada.ca/jumpcanada" target="_blank">click here</a>.</p>
  </div>
  <div class="about"> <img src="/assets/JumpCanada.gif" />
    <h4>Industry </h4>
    <p>To the more than 40 breed organizations operating in Canada, Equine Canada’s Industry Division provides a structure for its affiliate members and industry partners and a national forum from which to seek and exchange information between Equine Canada, Canadian stakeholders, the Government of Canada including Agriculture and Agri-Food Canada as well as foreign entities. With more than 60,000 Canadian breed organization members’ interests at stake, the Industry Division works to promote and assist a vibrant equine industry in Canada and to affect policy in the areas of equine health, export/import, taxation and industry developments. Breed organizations and industry partners share resources and expertise with unity of purpose to increase the long-term profitability of Canada’s equine sector. For more information, please <a href="http://equinecanada.ca/jumpcanada/index.php?lang=en" target="_blank">click here</a>.</p>
  </div>
  <div class="about"> <img src="/assets/ParaEquestrian.gif" />
    <h4>Para-Equestrian</h4>
    <p>Para-Equestrian Canada is the Equine Canada committee responsible for developing programs for athletes with a physical disability, and implementing the Para-Dressage high performance program. Para-Equestrian is one of Canada’s most successful international disciplines, achieving an individual gold medal and an individual silver medal at the 2008 Paralympic Games, as well as two individual bronze medals at the 2004 Paralympic Games. For more information on Para-Equestrian, please <a href="http://equinecanada.ca/para-equestrian/index.php?lang=en" target="_blank">click here</a>.</p>
  </div>
  <div class="about"> <img src="/assets/NeedLogo.gif" />
    <h4>Reining</h4>
    <p>  The Canadian Reining Committee is the discipline committee of Equine Canada that is responsible for overseeing the development and implementation of reining programs in Canada. The Canadian Reining Committee's objective is to foster the growth of reining and the pursuit of excellence in the sport at the local, national and international levels. For more information about the Canadian Reining Committee, please <a href="http://www.equinecanada.ca/reining" target="_blank">click here</a>. </p>
  </div>
  <div class="about"> <img src="/assets/NeedLogo.gif" />
    <h4>Recreation</h4>
    <p> Need text <a href="http://equinecanada.ca/recreation/index.php?lang=en" target="_blank">click here</a>.</p>
  </div>
  <div class="about"> <img src="/assets/NeedLogo.gif" />
    <h4>Vaulting</h4>
    <p>VaultCanada is the discipline committee of Equine Canada that is responsible for developing and implementing programs on behalf of the vaulting community and administrating the high performance program for vaulters in Canada. For additional information regarding VaultCanada please <a href="http://equinecanada.ca/index.php?option=com_content&view=category&id=358&Itemid=457&lang=en" target="_blank">click here</a>.</p>
  </div>
  <div class="bottom">
    <p align="center"><strong>Equine Canada</strong><br />
      2685 Queensview Drive, Suite 100<br />
      Ottawa, Ontario  K2B 8K2<br />
      Tel: 613-248-3433 | Toll Free: 1-866-282-8395 | Fax: 613-248-3484<br />
      <br />
      Weekend Support (Sat. 8:30 a.m. and 4:30 p.m. EDST / May 7 - Sept. 2011) 613-248-3433/1-866 282-8395  x 112<br />
      <br />
      General Inquiries: <strong> <a href="mailto:inquiries@equinecanada.ca">inquiries@equinecanada.ca</a></strong> </p>
  </div>
</div>
