<!DOCTYPE html>
<html xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
  <title>Magazine</title>
  <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	<!--[if IE]>
	<link rel="stylesheet" href="ie/ie.css" type="text/css" />
	<![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='https://fonts.googleapis.com/css?family=Quattrocento' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
